<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
This is an invitation to participate in a performance—of which you are now the audience. To participate, click
click <a href="https://{domain}/?p={personality}">https://{domain}</a>.
&nbsp;
The email address you received this invitation from repeats the name of the person who last participated in the
performance. It is a mark of the work’s viral circulation. If you reply, your message will not be sent to the person
named as the sender but to the original author of this work.
&nbsp;
<br/><br/>
Αυτή είναι μια πρόσκληση συμμετοχής σε μια παράσταση - της οποίας είστε τώρα το κοινό. Για να συμμετάσχετε, κάντε
κλικ στο <a href="https://{domain}/?p={personality}">https://{domain}</a>.
&nbsp;
Η διεύθυνση ηλεκτρονικού ταχυδρομείου που λάβατε αυτή την πρόσκληση επαναλαμβάνει το όνομα του ατόμου που συμμετείχε
τελευταία στην απόδοση. Είναι ένα σημάδι της κυκλοφορίας του ιού της εργασίας. Αν απαντήσετε, το μήνυμά σας δεν θα
αποσταλεί στο πρόσωπο που ονομάζεται αποστολέας αλλά στον αρχικό συντάκτη αυτής της εργασίας.
<br/><br/>
<i><font size="1">This piece by Aliza Shvarts is produced on the occasion of the 6th Athens Biennale ANTI // Το κομμάτι
    αυτό του Aliza
    Shvarts παράγεται με την ευκαιρία της 6ης Μπιενάλε της Αθήνας <a
            href="http://athensbiennale.org/anti/">ANTI</a></font></i>.

</body>
</html>