<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>

    <p>
        <b><span>Αποτελέσματα</span></b>
    </p><br>
    <p>
            <span>
                Ευχαριστούμε για τη συμπλήρωση αυτού του σύντομου τεστ προσωπικότητας. Το τεστ βασίζεται στο Τεστ Προσωπικότητας Big Five, το οποίο συσχετίζει τις απαντήσεις σας με πέντε χαρακτηριστικά προσωπικότητας:</span>
    </p><br>
    <p>
        <b><span>Άνοιγμα προς νέες εμπειρίες:</span></b>
        <span> Όσοι έχουν κυρίαρχο αυτό το χαρακτηριστικό, εκτιμούν την τέχνη, τα συναισθήματα, την περιπέτεια, τις ασυνήθιστες ιδέες, τη φαντασία, την περιέργεια και την ποικιλία εμπειριών.</span>
    </p><br>
    <p>
        <b><span>Ευσυνειδησία:</span></b>
        <span>Τα άτομα αυτά δείχνουν μια τάση προς την αυτοπειθαρχία, ενεργούν με υπευθυνότητα και προσπαθούν να έχουν επιτεύγματα πέρα από μέτρα και τις προσδοκίες των άλλων.</span>
    </p><br>
    <p>
        <b><span>Εξωστρέφεια:</span></b>
        <span> Οι εξωστρεφείς έχουν μια έντονη σχέση με τον εξωτερικό κόσμο. </span>
    </p><br>
    <p>
        <b><span>Τερπνότητα:</span></b>
        <span> Στα άτομα αυτά κυριαρχεί ένα γενικό ενδιαφέρον για την κοινωνική αρμονία.</span>
    </p><br>
    <p>
        <b><span>Νεύρωση:</span></b>
        <span> Όταν κυριαρχεί αυτό το χαρακτηριστικό, υπάρχει μια τάση προς αρνητικά συναισθήματα, όπως ο θυμός, το άγχος ή η κατάθλιψη. </span>
    </p><br>
    <p><span>Το κυρίαρχο στοιχείο στην προσωπικότητά σας είναι <b><?= personality_greek ?></b></span>
    </p><br><br>
    <p><span>For the next step click <a href="?= personality_english ?"><?= personality_english ?></a> </span>
    </p><br><br>
</div>
<div>

    <p>
        <b><span>Results</span></b>
    </p><br>
    <p>
            <span>
Thank you for taking this short personality test.  This test is modelled on the Big Five Personality Test, which scores your answers in relation to five personality characteristics:
                </span>
    </p><br>
    <p>
        <b><span>Openness:</span></b>
        <span>
a general appreciation for art, emotion, adventure, unusual ideas, imagination, curiosity, and variety of experience.            </span>
    </p><br>
    <p>
        <b><span>Conscientiousness:</span></b>
        <span>
a tendency to display self-discipline, act dutifully, and strive for achievement against measures or outside expectations.            </span>
    </p><br>
    <p>
        <b><span>Extraversion:</span></b>
        <span>
a pronounced engagement with the external world.            </span>
    </p><br>
    <p>
        <b><span>Agreeableness:</span></b>
        <span> a general concern for social harmony.

            </span>
    </p><br>
    <p>
        <b><span>Neuroticism:</span></b>
        <span> a tendency to experience negative emotions, such as anger, anxiety, or depression.
            </span>
    </p><br>
    <p><span>Your predominant personality trait is <b><?= personality_english ?></b>
        </span>
    </p><br><br>
    <p><span>For the next step click <a href="?= personality_english ?"><?= personality_english ?></a> </span>
    </p><br><br>
</div>

</body>
</html>